
   <div class="x_content">

                    <table class="table">
                      <thead>
                        <tr>
                        <th>#</th>
                        <th>Email</th>
                        <th>Nome</th></td>
                        <th>Sobre Nome</th></td>
                        <th>Rua</th></td>
                        <th>Cidade</th></td>
                        <th>CEP</th></td>
                        <th>Editar</th></td>
                        <th>Excluir</th></td>
                       
                    </tr>
                </thead>
                <tbody>
                      <% @admins.each do |admin| %>
                          <td><%= admin.id %></td>
                          <td><%= admin.email %></td>
                          <td><%= admin.name_admin %></td>
                          <td><%= admin.last_name_admin %></td>
                          <td><%= admin.street_admin %></td>
                          <td><%= admin.city_admin %></td>
                          <td><%= admin.zip_code_admin %></td>

                          <td >
                            <%= link_to edit_admins_backoffice_admin_path(admin), class:"btn btn-primary btn-circle" do %>
                            <i class="fa fa-edit"></i>
                            <% end %>
                          </td>

                          <td>
                            <%= link_to admins_backoffice_admin_path(admin), method: :delete, class:"btn btn-danger btn-circle", data: { confirm: "Deseja realmente excluir esse administrador?" }  do %>
                            <i class="fa fa-minus"></i>
                            <% end %>
                          </td>

                      </tr> 
                    <% end %>  

                </tbody>
             </table>
 
 <div class="text-center">
 <%= paginate @admins %>

 </div>


 
